/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/06/2016, 15:22:36
    Author     : Wallace
*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../resources/image/wallhaven00.jpg) no-repeat center center;
    background-size: cover;
}

.wall-haven {
    background: url(resourcer/image/wallhaven01.jpg)no-repeat center center;
    background-size: cover;
}